@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Nunito:ital,wght@0,200;0,400;0,500;1,700&display=swap');
:root {
  --primary: #43B9AA;
  --secondary: #fff;
  --tertiary: #2a403d;
  --common: #000;
  --minimum-font-size: 16px;
  --mid-font-size: 22px;
  --max-mid-font-size:30px;
  --max-font-size:36px;
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Montserrat', sans-serif;
}
* {
  padding:0;
}
 body {
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: var(--primary-font-family);
  /* background: var(--secondary); */
  background: linear-gradient(to right,
  rgb(241 241 241),
  rgb(238 238 238), 
  rgb(233 233 233),
  rgb(231 232 234));
  overflow: auto; /* Enable scrolling */
 
}

/* TEXT FORMAT */
.heading1 {
  font-size: var(--max-font-size);
  /* color:var(--tertiary); */
  /* font-weight: 800; */
}

.heading2 {
  font-size: var(--mid-font-size);
  color:var(--tertiary);
  font-weight: 400;
}

/* Hide the scrollbar */
body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
}

* {
  color: var(--tertiary) ;
  margin: 0;
}
p {
  margin: 20px 0;
}
button{
  border: 0;
  padding: 11px 20px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
  margin-top: 8px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
}
/* header */
header {
  padding: 15px 40px;
  z-index: 10;
  position: absolute;
  /* top: 1rem; */
  width: 92%;
}
.logo {
  width: inherit;
  height: inherit;
}
/* navbar */
header nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row;
  align-items: baseline;
}
header nav .navLink {
  display: flex; /* To use flexbox for centering */
  justify-content: center; /* Center the navigation links horizontally */
  gap: 20px; /* Add some spacing between the navigation links */
}

header nav .brandName {
  width: 150px;
}
.brandName h1 {
  color: var(--tertiary);
}
header nav .navLink a{
  text-decoration: none;
  padding: 2px 9px;
  /* border-radius: 4px; */
  cursor: pointer;
}
header nav .navLink :hover {
  border-bottom: 3px solid var(--primary);
}

header nav .navLink a.active {
  font-weight: 800;
}

/* page content */
main {
  /* max-width: 1200px;
  padding: auto;
  margin: 40px auto; */
  /* max-width: 1200px;
  margin: 40px auto;
  position: absolute; */
  /* margin: 40px auto; */
  /* position: relative; */
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* careers list */
.careers > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}

/* careers details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding:20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}
/* Card container */
.card {
  width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  padding: 20px;
  /* animation: floatUp 1s ease-in-out; */
  opacity: 0;
}

/* Card header */
.card-header {
  text-align: center;
}

/* Card title */
.card-title {
  margin: 0;
  font-size: var(--mid-font-size);
  color: var(--tertiary);
}

/* Card content */
.card-content {
  margin-top: 15px;
  text-align: justify;
}

/* Card footer (e.g., actions or buttons) */
.card-footer {
  margin-top: 20px;
  text-align: center;
}

/* Card button */
.card-button {
  background-color: #43B9AA;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: var(--minimum-font-size);
  cursor: pointer;
}

/* Hover effect for the button */
.card-button:hover {
  background-color: #2E8E80;
}

/* Slogan Container styles */
.slogan-container {
  display: flex;
    height: 50vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 6rem;
    /* z-index: 1; */
}
.sub-slog h4 {
  color: var(--tertiary);
  font-size: var(--minimum-font-size);
}
div .slogan {
 color: var(--tertiary);
}
div .slogan h1 {
  color: var(--tertiary);
  font-size: var(--max-font-size);
}
div .slogan h3 {
  color: var(--tertiary);
  font-size: var(--mid-font-size);
}
/* HOME */

.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.hero-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/image8.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  /* Set the desired opacity value (0 to 1) */
  opacity: 0.5; /* Change this value to adjust the opacity */
  /* Set the color you want for the overlay */
  background-color: rgba(243, 238, 238, 0.5); /* Change the RGB values and alpha (0 to 1) */
}

.jumbotronBackground {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: auto;
  image-rendering: auto;
  z-index: -2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* footer */
footer {
  /* background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: 14px;
  left: 0;
  bottom: 0;
  right: 0; */

  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  color: var(--tertiary);
  font-size: var(--minimum-font-size);
  left: 0;
  bottom: 0;
  right: 0;
  position: static;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 16rem 0 5rem 0;
}


.try-now-button {
  padding: 9px 20px !important; 
  margin-top: 0 !important;
}


@keyframes floatUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#element2 {
  animation-delay: 1.5s; /* Delay the animation by 2 seconds */
}

#element3 {
  animation-delay: 2s; /* Delay the animation by 4 seconds */
}

.fade-in-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}


/* samp animation */

.divider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 14rem 13rem;
  
}
.divider h1,h3 {
  color: var(--tertiary);
 
}
.img-what {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.animation-container {
  display: flex;
  padding: 0px 80px;
  align-items: center;
  gap: 10px;
  /* align-self: stretch */;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.left-container,
.right-container {
}

.left-container {
  /* width: 35%; */
  /* background-color: var(--primary); */
  /* border-radius: 10px; */

}

.right-container {
  width: 50%;
}

.left-container.showAnimation {
  animation: slideLeft 1s ease-in-out;
  animation-fill-mode: forwards;
}

.right-container.showAnimation {
  animation: slideRight 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  from {
    margin-left: -100px; /* Starting position from the left */
    opacity: 0;
  }
  to {
    margin-left: 0; /* Center position */
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    margin-right: -100px; /* Starting position from the right */
    opacity: 0;
  }
  to {
    margin-right: 0; /* Center position */
    opacity: 1;
  }
}
.left-container h2 {
  color: var(--tertiary);
  font-size: var(--mid-font-size);
}
/* Benefit */
.b-container {
  height: 20rem;
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 5rem;
  justify-content: center;
}


/* review */
.review-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.review-hdr, .review-dtl {
  color: white;
 }
 .stars-wrapper {
   display: flex;
   justify-content: center;
 }
 .stars {
   width: 13rem;
 }
 .review-dtl {
  margin: 30px;
  width: 32rem;
  text-align: center;
 }
 .review-hdr {
  font-size: var(--max-font-size);
 }



/* tricolumn */
.tc-heading {
  flex: 1 0 0;
  /* align-self: stretch */;
  color: var(--tertiary);
  text-align: center;
  font-family: Poppins;
  font-size: var(--max-mid-font-size);
  font-style: normal;
  /* font-weight: 600; */
  line-height: normal;
}
.tc-header {
  display: flex;
  /* padding: 80px 0px; */
  align-items: center;
  gap: 10px;
  /* align-self: stretch */;
}
.tc-wrapper {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  align-items: center;
  /* align-self: stretch */;
}

.tc-content {
  display: flex;
  /* width: 1288px; */
  padding: 40px 0px;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.tc-content-icons {
  
}
.tc-content-first {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* align-self: stretch */;
  border-radius: 10px;
  /* background: #FFF;  */
}
.tc-group {
  width: 240px;
  height: 153.375px;
}
.tc-card-cta,
.tc-card-content,
.tc-card-header {
  font-style: normal;
  line-height: normal;
}
.tc-card-cta,
.tc-card-header {
  color: var(--tertiary);
}
.tc-card-cta,
.tc-card-content {
  font-size: var(--minimum-font-size);
}
.tc-card-content{
  color: var(--common);
}
.tc-card-header{
  font-size: var(--mid-font-size);
}
.tc-content-second {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* align-self: stretch */;
}
.tc-content-third {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* align-self: stretch */;
}

/* Two Column */
.twc-wrapper {
  display: flex;
  padding: 80px 80px;
  align-items: center;
  /* align-self: stretch */;
}
.twc-img {
  flex: 1 0 0;
  /* align-self: stretch */;  
}
.twc-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0;
  flex-wrap: wrap;
}
.twc-text-heading {
  /* align-self: stretch */
  color: var(--tertiary);
  font-size: var(--max-mid-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.twc-text * {
  margin: 0;
}
.footerBar {
  display: flex;
  height: 306px;
  padding: 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--primary);
  opacity: .7;
}
/* footer */
footer {
  display: flex;
  padding: 0px 80px;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  align-self: stretch;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  padding: 17.154px 689.563px 18.154px 0px;
  align-items: center;
  flex: 1 0 0;
}
.sideText {
  content: "Design with love © ARAStudio 2020. All right reserved";
  color: #92989F;
  text-align: right;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.257px;
}

.footer-logo {
  width: 150px;
}

/* About */
.about,
.contact,
.service {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
 
}
.bg-img {
  padding:0 80px;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-image: url(/public/assets/image8.jpg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.page-name {
  font-size: var(--max-mid-font-size);
  font-weight: 600;
}
.some-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* align-self: stretch */;
  padding:80px;
}
.c-contacts{
  display: flex;
  height: 566px;
  padding: 100px 0px;
  align-items: center;
  /* align-self: stretch */;
}
.c-icons {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex: 1 0 0;
  /* align-self: stretch */;
  flex-wrap: wrap;
}
/* Two Column */
.two-col-wrapper {
  display: flex;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* align-self: stretch */;
}
.two-col-text-heading {
  color: var(--tertiary);
  font-size: var(--max-mid-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.two-col-text-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  /* align-self: stretch */;
  padding:40px;
}
/* Image Form */
.img-form {
  display: flex;
  /* height: 100vh; */
  padding: 100px 250px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* align-self: stretch */;
  flex-wrap: wrap;
}
.img-frame {
  display: flex;
  padding: 7px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.form-frame {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  /* align-self: stretch */;
}
.welcome-ara {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* align-self: stretch */;
}
.if-logo{
  width: 103px;
  height: 30px; 
}
.if-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* align-self: stretch */;
}
.if-cta {
  width: 100%;
}
.if-cta {
  /* width: 100%; */
}
/* FORM */
/* .if-form-control {
  display: flex;
  height: 36px;
  padding: 4px 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch ;
/* }  */
.if-form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--tertiary)
}
.if-form-control:hover
/* .if-form-control:focus */
{
  border: 1px solid var(--primary);
  outline: none;
}
.if-form-control:active,
.if-form-control:focus-within{
  /* border: 1px solid var(--primary); */
  outline: none;
  /* box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.74) inset; */
}
